<%
import time

%>
<!DOCTYPE html>
<html>
	<head>
		<title>User Page</title>
		<link rel="stylesheet" href="/res/page.css" type="text/css" />
	</head>
	<body>
			%for idx, item in enumerate(index_segment):
			%data = item['data']
				%if item['kind'] == 't3':
				%title = data['title']
				%domain = data['domain']
				%name = data['name']
				%score = data['score']
				
				<div class="entry">
					<div class="left">{{idx+1+after_index}}</div>
					<div class="left"><span class="score">{{score}}</span></div>
					<div class="{{'left nsfw' if data.get('over_18',False) else 'left'}}"><img src="/u/{{username}}/res/{{domain}}/thumbs/{{name}}" /></div>
					<div class="right">
						<a href="/u/{{username}}/res/{{domain}}/{{name}}">{{title}}</a>
						<small class="domain">({{domain}})</small><br/>
						%if data.get('over_18', False):
						<span class="nsfw">NSFW</span>
						%end
						<small>
							<span class="author">{{data['author']}}</span> posted at {{time.ctime(data['created'])}}.
							<a href="{{data['url']}}">permalink</a>
						</small><br/>
						
						<input type="checkbox" />
						<div class="preview"> <img src="/u/{{username}}/res/{{domain}}/{{name}}" /> </div>
					</div>
				</div>
				
				%elif item['kind'] == 't1':
				<div class="entry">
					<div class="left">{{idx+1+after_index}}</div>
					<div class="left">{{data['score']}}</div>
					<div class="right">
						<small>Comment on</small>
						<a href="/u/{{username}}/res/{{data.get('subreddit')}}/{{data['name']}}">{{data.get('link_title')}}</a>
						<small class="domain">({{data.get('subreddit')}})</small><br/>
						<small><span class="author">{{data['author']}}</span> posted at {{time.ctime(data['created'])}}</small><br/>
						
						<p class="comment">
							{{data['body']}}
						</p>
						
					</div>
				</div>
				%end
				
			%end
			
			<a href="/u/{{username}}/?after={{index_segment[-1]['data']['name']}}&limit={{limit}}">Next Page</a>
	</body>
</html>
