<%
import time, html

%>
<!DOCTYPE html>
<html>
	<head>
		<title>User Page</title>
		<link rel="stylesheet" href="/res/page.css" type="text/css" />
		<script type="text/javascript">
			function togglePreview(cb) {
				var div = cb.nextElementSibling; // TIL this is a thing
				if(cb.checked) {
					child = div.children[0];
					
					if(child.tagName == "IMG")
						child.setAttribute( "src", div.children[0].getAttribute("data-src") );
					
					div.setAttribute("style", "display:block;");
				}else{
					div.setAttribute("style", "display:none;");
				}
			}
			
			function toggleSearch(cb) {
				var element = document.getElementById("search");
				if(!cb.checked)
					element.setAttribute("style", "display: none;");
				else
					element.setAttribute("style", "display: block;");
			}
			
			function onload() {
				subreddits = [];
				var children = document.getElementById("select_subreddit").children;
				for(var i=0; i<children.length; i+=1) {
					subreddits.push(children[i].getAttribute("value"));
				}
			}
			
			function onSubredditsChange(textbox) {
				var filtered = [];
				var children = document.getElementById("select_subreddit").children;
				for(var i=0; i<subreddits.length; i+=1){
					if(!subreddits[i].toLowerCase().includes(textbox.value.toLowerCase()))
						children[i].style.display = "none";
					else
						children[i].style.display = "list-item";
				}
			}
		</script>
	</head>
	<body onload="onload();">
		Show Search Options <input type="checkbox" onclick="toggleSearch(this);" autocomplete="off" />
		<div id="search" style="display: block;">
			<div class="subreddits">
				<input type="text" id="subreddit_filter" oninput="onSubredditsChange(this);" autocomplete="off"/><br/>
				<select id="select_subreddit" multiple="multiple">
					%for subreddit in subreddits:
						<option value="{{subreddit}}">{{subreddit}}</option>
					%end
				</select>
			</div>
		</div>
		<hr/>
		
			<%
			for idx, item in enumerate(index_segment):
				data = item['data']
				if item['kind'] == 't3':
					title = data['title']
					domain = data['domain']
					name = data['name']
					score = data['score']
			%>
				<div class="entry">
					<div class="left">{{idx+1+after_index}}</div>
					<div class="left"><span class="score">{{score}}</span></div>
					<div class="{{'left nsfw' if data.get('over_18',False) else 'left'}}"><img src="/u/{{username}}/res/{{domain}}/thumbs/{{name}}" /></div>
					<div class="right">
						<a href="/u/{{username}}/res/{{domain}}/{{name}}">{{title}}</a>
						<small class="domain">({{domain}})</small><br/>
						%if data.get('over_18', False):
						<span class="nsfw">NSFW</span>
						%end
						<small>
							<span class="author">{{data['author']}}</span> posted at {{time.ctime(data['created'])}} to /r/{{data['subreddit']}}.
							<a href="/u/{{username}}/comments/{{data['name']}}">comments</a> | <a href="{{data['url']}}">permalink</a>
						</small><br/>
						
						<input type="checkbox" onclick="togglePreview(this);" autocomplete="off" />
						<div class="preview">
							%if item['rsaved'].get('download', {}).get('class') == 'video':
							<video controls="controls" preload="none">
								<source src="/u/{{username}}/res/{{domain}}/{{name}}" type="{{getLibraryResourceMimetype(username, domain, name)}}" />
							</video>
							%else:
							<img data-src="/u/{{username}}/res/{{domain}}/{{name}}" />
							%end
						</div>
					</div>
				</div>
				
				%elif item['kind'] == 't1':
				<div class="entry">
					<div class="left">{{idx+1+after_index}}</div>
					<div class="left">{{data['score']}}</div>
					<div class="right">
						<small>Comment on</small>
						<a href="/u/{{username}}/res/{{data.get('subreddit')}}/{{data['name']}}">{{data.get('link_title')}}</a>
						<small class="domain">({{data.get('subreddit')}})</small><br/>
						<small><span class="author">{{data['author']}}</span> posted at {{time.ctime(data['created'])}}</small><br/>
						
						{{!html.unescape(data['body_html'])}}
						
					</div>
				</div>
				%end
				
			%end
			
			<a href="/u/{{username}}/?after={{index_segment[-1]['data']['name']}}&limit={{limit}}&sr={{query.sr}}&nsfw={{query.nsfw}}&sort={{query.sort}}&reverse={{query.reverse}}">Next Page</a>
			<hr/>
			<p>This page was generated on {{time.ctime()}}.</p>
	</body>
</html>
